# Created by .ignore support plugin (hsz.mobi)
.idea/.gitignore
.idea/checkstyle-idea.xml
.idea/codeStyles/
.idea/compiler.xml
.idea/encodings.xml
.idea/inspectionProfiles/
.idea/misc.xml
learn-algorithm.iml
